{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ form.instance.pk|yesno:"Editovat hru,Vytvořit hru" }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ form.instance.pk|yesno:"Editovat hru,Vytvořit hru" }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Uložit</button>
            <a href="{% url 'game_list' %}" class="btn btn-secondary">Zrušit</a>
        </form>
    </div>
{% endblock %}