{% extends 'base.html' %}

{% block title %}
	Seznam her
{% endblock %}

{% block content %}
	<div class="container">
        <h1>Seznam her</h1>
    {% if user.is_staff %}
    	<a href="{% url 'game_create' %}" class="btn btn-success mb-3">Přidat novou hru</a>
    {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Datum vydání</th>
                    <th>Vývojář</th>
                    <th>Vydavatel</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td><a href="{% url 'game_detail' pk=game.pk %}" class="btn btn-secondary">{{ game.title }}</a></td>
                        <td>{{ game.release_date }}</td>
                        <td>{{ game.developer }}</td>
                        <td>{{ game.publisher }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}