{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>O aplikaci Speedrun</h1>
        <p>
            Tato aplikace slouží k evidenci a správě speedrunů. Můžete zde sledovat své běhy,
            porovnávat je s ostatními a sdílet své úspěchy.
        </p>
        <h2>Funkce</h2>
        <ul>
            <li>Správa her</li>
            <li>Správa kategorií</li>
            <li>Evidence běhů</li>
            <li>Zobrazení detailů běhů</li>
            <li>Možnost úpravy a mazání běhů (pro administrátory)</li>
        </ul>
        <h2>Technologie</h2>
        <ul>
            <li>Django</li>
            <li>Bootstrap</li>
        </ul>
    </div>
{% endblock %}